*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}
.map{
    width: 202px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    
    border:1px solid red; 
    margin: auto auto;
    border-style: outset;
}
.square{
    background-color: aqua;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid black;
}
.rows{
    display: flex;

}
.frog{
    background-color: green;
}
.Barrier{
    background-color:red;
}